.App {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* .howToMakeDiv {
  display: flex;
  flex-direction: column;
} */

.mapDiv {
  width: auto;
}

.mapModal {
  width: 100% !important;
}

.Placeholder {
  content:url(./images/bottlelogo.png);
  margin: auto;
  opacity: 50%;
  width: 80%;
  padding: 30px;
}

#theMap {
  width: 1000px;
}

.getStarted {
  display: flex;
  margin: auto;
  width: 1000px !important;
  justify-content: center;
}

/* .theDangInstructionsModal {
  border: solid red 5px;
} */

.modal-content {
  width: auto;
}

.topImage {
  padding-top: 280px;
}

.bottomImage {
  padding-bottom: 185px;
}

.theMap {
  padding-top: 10px;
  padding-bottom: 0px;
}