* {
    margin: 0;
    padding: 0;
    border: 0;
}

.backgroundJar {
    width: 100vw;
    margin: auto;
    background: white;
}

.insideBackgroundJar {
    width: 100%;
    margin: auto;
    background-repeat: repeat-y;
}